.App {
  text-align: center;
}

.card{
  width: 200px;
  border: 1px solid #161616;
  border-radius: 8px;
  margin: 2rem;
  background-color: antiquewhite;
  color: #161616;
  padding: 12px;
}

.plus-btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.plus-btn:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.plus-btn:focus {
  border-color: #4285f4;
  outline: none;
}

.btn-primary {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.btn-primary:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #ffffff;
}

.btn-primary:focus {
  border-color: #4285f4;
  outline: none;
}

.btn-lg{
  margin:1rem;
  width: 250px;
}